<h1 class="result-header"> <%= t('.header', title: @test_passage.test.title) %> </h1>
<% if @test_passage.successfully_passed_test? %>
  <p class="successfully_passed_test result"><%= t('.successed_test_html', user: @test_passage.user.email) %><br>
    <span  class="percentage_success">Score: <%= @test_passage.percentage_correct_answers %> %</span>
  </p>
<% else %>
  <p class="failed_passed_test result"><%= t('.failed_test_html', user: @test_passage.user.email) %> <br>
    <span><%=t('.score', pass_percentage: @test_passage.percentage_correct_answers) %></span></p>
<% end %>
<p class ="result"><%= link_to t('label.back'), tests_path %></p>
