<nav>
  <% if user_signed_in? %>
    <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
  <% end %>
  <h2 class="nav nav-title"> <%= link_to 'TestGuru Project', root_path %></h2>
  <ul class="nav-list">
    <li class="nav-item"><%= link_to 'All Tests', tests_path, class:"nav nav-link" %></li>
    <li class="nav-item"><%= link_to 'Register', new_user_registration_path, class:"nav nav-link" %></li>
    <li class="nav-item"><%= link_to 'Login', new_user_session_path, class:"nav nav-link" %></li>
    <li class="nav-item"><%= link_to 'Logout', destroy_user_session_path, class:"nav nav-link",
                                                            method: :delete,
                                                            data: {confirm: "Are you sure?"} %></li>
  </ul>
</nav>
