<div class="container">
  <h3><%= t('nav.tests') %></h3>
  <span class="badge bg-primary mb-3">
    <%= link_to t('.new_test'), new_admin_test_path,
                                class: "gx-5 nav nav-link link-light"  %>
  </span>
  <span class="badge bg-primary mb-3">
    <%= link_to t('.created_gists'), admin_gists_path,
                                         class: "gx-5 nav nav-link link-light" %>
  </span>
  <table class="table table-bordered text-center">
    <tr class="table-primary border-primary">
      <th><%= t('label.title') %></th>
      <th><%= t('label.questions') %></th>
      <th><%= t('label.level') %></th>
      <th colspan='3' ><%= t('label.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>
</div>
