<div class="container">
  <h3 class="row justify-content-center mb-4"><%= t('nav.tests') %></h3>
  <span class="badge bg-primary mb-3">
    <%= link_to t('label.badges'), badges_path,
                                         class: "gx-5 nav nav-link link-light" %>
  </span>
  <table class="table table-bordered text-center">
    <tr class="table-primary border-primary">
      <th class="sort-by-title pointer">
        <%= t('label.title') %>
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th><%= t('label.questions') %></th>
      <th><%= t('label.level') %></th>
      <th><%= t('label.timer') %></th>
      <th><%= t('label.actions') %></th>
    </tr>
    <%= render @tests %>
  </table>
</div>
