<h3><%= t('nav.tests') %></h3>
<table>
  <tr>
    <th><%= t('label.title') %></th>
    <th><%= t('label.questions') %></th>
    <th><%= t('label.level') %></th>
    <th><%= t('label.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
